resource_group_name = "rg-infra-assessment"
location            = "Sweden Central"
vm_size             = "Standard_D2s_v3"
admin_username      = "azureuser"
allowed_ssh_cidr    = "0.0.0.0/0"  # Replace with your IP: "x.x.x.x/32"
environment         = "dev"
project_name        = "infra-assessment"
